.btn svg {
  margin-right: 10px;
}

.cart {
  position: fixed;
  min-width: 285px;
  overflow-y: scroll;
  height: calc(90vh - 393px);
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 30px;
}
.checkout-btn {
  position: absolute;
  bottom: 1rem;
  width: 100%;
  margin: 0 -1rem;
  padding: 0 1rem;
}

@media (max-width: 991px) {
  .cart {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: calc(30vh - 0px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
  }
  .checkout-btn {
    position: inherit;
    bottom: 1rem;
    width: 100%;
    margin: 0 -1rem;
    padding: 0 1rem;
  }
}
